---
import './index.scss';
import Location from '../../components/Location/index.astro';
import SocialMedia from '../../components/SocialMedia/index.astro';
---

<section class='overview'>
  <h1 class='overview__title'> Roberto Marcos </h1>
  <h2 class='overview__subtitle'> Frontend Software Engineer </h2>
  <SocialMedia />
  <Location />
  <img class='overview__avatar' src='/images/avatar.png' title='Coming soon...' alt='roberto-avatar' tabindex='0' height='280' width='180'/>
  <p class='overview__description'>
    I’m Roberto, and I’m a +3 years frontend software engineer.
  </p>
  <p class='overview__description'>
    Here you would find information about the projects where I worked, my skills, my education and my objectives.
  </p>
  <p class='overview__regular-cv-text'>
    If you want the classic CV version, you can check it using <a href='#'>this link</a>.
  </p>
</section>
