---
import './index.scss';
import Location from '../../components/Location/index.astro';
import SocialMedia from '../../components/SocialMedia/index.astro';
---

<section id='welcome' class='welcome scrollable-section'>
  <div class='presentation-wrapper'>
    <article class='presentation-wrapper__text'>
      <h1 class='welcome__title'> Roberto Marcos </h1>
      <h2 class='welcome__subtitle'> Frontend Software Engineer </h2>
      <SocialMedia />
      <Location />
      <img class='welcome__avatar welcome__avatar--mobile' src='/images/avatar.png' title='Coming soon...' alt='roberto-avatar' tabindex='0' height='280' width='180'/>
    </article>
    <img class='welcome__avatar welcome__avatar--desktop' src='/images/avatar.png' title='Coming soon...' alt='roberto-avatar' tabindex='0' height='280' width='180'/>
  </div>

  <article class='description-wrapper'>
    <p class='welcome__description'>
      I’m Roberto, and I’m a +3 years frontend software engineer.
    </p>
    <p class='welcome__description'>
      Here you would find information about the projects where I worked, my skills, my education and my objectives.
    </p>
    <p class='welcome__regular-cv-text general-description'>
      If you want the classic CV version, you can check it using <a href='#'>this link</a>.
    </p>
    <button class='welcome__button-myself'>
      About myself 👾💻☕
    </button>
  </article>
</section>
