@import '../../global/constants.styles.scss';

.overview {
  align-items: center;
  background-color: #FFF;
  display: flex;
  gap: 16px;
  flex-direction: column;
  min-height: min(880px, calc(100vh - 60px));
  text-align: center;
  transition: 0.2s;
  width: 100%;

  @media screen and (min-width: $screen-xs) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @media screen and (min-width: $screen-lg) {
    min-height: calc(100vh - 60px);
  }

  &__title {
    font-size: 1.875rem;
  }

  &__subtitle {
    font-size: 1.5rem;
  }

  &__avatar {
    cursor: pointer;
    height: auto;
    margin-bottom: 16px;
    max-width: 180px;
    width: 100%;

    &:focus {
      outline: auto;
    }
  }

  &__description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;

    @media screen and (min-width: $screen-xs) {
      font-size: 1.125rem;
      margin-top: 3%;
    }
  }

  &__regular-cv-text {
    font-weight: 300;
    line-height: 20px;
    margin-top: 16px;
  }
}
