@import '../../global/constants.styles.scss';

.overview {
  align-items: center;
  background-color: #FFF;
  display: flex;
  gap: 16px;
  flex-direction: column;
  min-height: min(880px, calc(100vh - 60px));
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  transition: 0.2s;
  width: 100%;

  @media screen and (min-width: $screen-xs) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @media screen and (min-width: $screen-lg) {
    min-height: calc(100vh - 60px);
  }

  &__title {
    font-size: 30px;
  }

  &__subtitle {
    font-size: 24px;
  }

  &__avatar {
    cursor: pointer;
    height: auto;
    margin-bottom: 16px;
    width: 180px;

    &:focus {
      outline: auto;
    }
  }

  &__description {
    font-weight: 300;
    line-height: 24px;

    @media screen and (min-width: $screen-xs) {
      margin-top: 3%;
    }
  }

  &__regular-cv-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-top: auto;
  }
}
