@import '../../global/constants.styles.scss';

.accordion {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: block;
  outline: none;
  padding: 16px;
  position: relative;
  transition: padding 0.25s;
  
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  &::after {
    border-radius: 8px;
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:focus::after {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  }

  &[aria-expanded='false'] &__items-wrapper__item {
    pointer-events: none;
  }
  
  &[aria-expanded='true'] &__items-wrapper {
    max-height: 1000vh;
    opacity: 1;
  }

  &[aria-expanded='true'] &__items-wrapper__divisor {
    padding: 16px 0;
  }

  &__overview {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__chevron {
      display: none;
      height: 36px;
      transition: 0.25s ease-in-out;
      transform: scaleY(1);
      width: 36px;

      &[aria-expanded='false'] {
        transform: scaleY(-1);
      }

      @media screen and (min-width: 300px) {
        display: block;
      }
    }

    &__text-wrapper {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__title {
        font-size: 1rem;
        font-weight: 600;

        @media screen and (min-width: $screen-xs) {
          font-size: 1.125rem;
        }

        @media screen and (min-width: $screen-lg) {
          font-size: 1.1875rem;
        }
      }

      &__date-separator {
        display: none;

        @media screen and (min-width: $screen-xs) {
          font-size: 1.125rem;
        }

        @media screen and (min-width: $screen-lg) {
          display: block;
          font-size: 1.1875rem;
        }
      }

      &__date {
        font-weight: 300;
        text-align: center;
        width: 100%;

        @media screen and (min-width: 300px) {
          text-align: unset;
          width: unset;
        }
      }

      @media screen and (min-width: $screen-lg) {
        align-items: center;
        flex-direction: row;
      }
    }
  }

  &__items-wrapper {
    max-height: 0;
    opacity: 0;
    text-align: left;
    transition:
      max-height 400ms ease,
      opacity 300ms ease 100ms
    ;
    width: 100%;

    &__divisor {
      align-items: center;
      background-color: transparent;
      display: flex;
      height: 1px;
      padding: 0;
      transition: all 400ms ease;
      width: 100%;

      &::after {
        background-color: rgba(221, 221, 221, 0.7);
        content: "";
        height: 1px;
        width: 100%;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__container {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        line-height: 21px;

        @media screen and (min-width: 250px) {
          flex-wrap: unset;
        }

        &__icon {
          height: 24px;
          width: 24px;
        }

        &__date {
          align-self: center;
          font-style: italic;
          font-size: 0.8125rem;
          font-weight: 300;

          @media screen and (min-width: $screen-md) {
            font-size: 0.875rem;
          }

          @media screen and (min-width: $screen-lg) {
            font-size: 0.9375rem;
          }
        }

        &__description {
          align-self: center;
          font-size: 0.875rem;
          font-weight: 400;

          @media screen and (min-width: $screen-md) {
            font-size: 0.9375rem;
          }

          @media screen and (min-width: $screen-lg) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
