.location {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
  text-decoration: none;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }

  &__image {
    width: 30px;
  }

  &__title {
    font-size: 	1.125rem;
    font-weight: 400;
  }
}
