.location {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;

  &__title {
    font-size: 18px;
    font-weight: 400;
    position: relative;

    &__image {
      left: 0;
      position: absolute;
      top: 47%;
      transform: translate(-120%, -50%);
      width: 30px;
    }
  }
}
