---
import './index.scss';
---

<article class='location'>
  <img class='location__image' src='/icons/location.png' alt='Current location' height='30' width='30'/>
  <h3 class='location__title'>
    Buenos Aires, Argentina
  </h3>
</article>
