---
import './index.scss';
---

<article class='location'>
  <h3 class='location__title'>
    <img class='location__title__image' src='/icons/location.png' alt='Current location' height='30' width='30'/>
    <span class='location__title__text'>Buenos Aires, Argentina</span>
  </h3>
</article>
