:root {
  --max-width-screen: 1334px;
  --base-padding-percentage: 6.67%;
  --xl-padding-percentage: 8.67%;
}

.section-content {
  margin: 0 auto;
  max-width: min(100%, var(--max-width-screen));
  padding-left: var(--base-padding-percentage);
  padding-right: var(--base-padding-percentage);
  width: 100%;
}

@media screen and (min-width: 992px) {
  .section-content {
    padding-left: var(--xl-padding-percentage);
    padding-right: var(--xl-padding-percentage);
  }
}

.bg-gray {
  background-color: #F7F7F7;
}

.bg-white {
  background-color: #FFFFFF;
}
