@import './constants.styles.scss';

$max-width-screen: 1334px;
$base-padding-percentage: 6.67%;

.section-content {
  margin: 0 auto;
  max-width: min(100%, $max-width-screen);
  padding-left: $base-padding-percentage;
  padding-right: $base-padding-percentage;
  width: 100%;

  @media screen and (min-width: $screen-xl) {
    padding-left: 90px;
    padding-right: 90px;
  }
}



.bg-gray {
  background-color: #F7F7F7;
}

.bg-white {
  background-color: #FFFFFF;
}
