.thanks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  &__text--email {
    font-weight: bold;
    word-break: break-all;

    @media screen and (min-width: 300px) {
      word-break: unset;
    }
  }
}
