---
import './index.scss'
---
<section class='thanks bg-white'>
  <p class='general-description'>You can contact me through the email provided up above.</p>
  <p class='general-description'>
    Psst <a class='thanks__text--email' href='mailto:roberdm49@gmail.com'>roberdm49@gmail.com</a>, just in case you had a long day.
  </p>
  <p class='general-description'>Thank you for reading!</p>
</section>
