---
import './index.scss'
---
<section class='thanks section-content bg-white'>
  <p class='thanks__text'>You can contact me through the email provided up above.</p>
  <p class='thanks__text'>
    Psst <span class='thanks__text--email'>roberdm49@gmail.com</span>, just in case you had a long day.
  </p>
  <p class='thanks__text'>Thank you for reading!</p>
</section>
