.thanks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  &__text {
    font-size: 14px;

    &--email {
      font-weight: bold;
      word-break: break-all;

      @media screen and (min-width: 300px) {
        word-break: unset;
      }
    }
  }
}
