@import '../../global/constants.styles.scss';

.header {
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  color: $secondary-color;
  height: 60px;
  display: flex;
  left: 50%;
  padding-bottom: 8px;
  padding-top: 8px;
  position: absolute;
  transform: translate(-50%, -60px);
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  &__wrapper {
    align-items: center;
    display: flex;
  
    @media screen and (min-width: $screen-lg) {
      justify-content: space-between;
    }

    &__hamburger {
      cursor: pointer;
      width: 40px;
      z-index: 2;
    
      @media screen and (min-width: $screen-md) {
        width: 44px;
      }
    
      @media screen and (min-width: $screen-lg) {
        display: none;
      }
    }
    
    &__name {
      color: inherit;
      flex-grow: 1;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      text-underline-offset: 5px;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: inherit;
      }

      @media screen and (min-width: $screen-xxs) {
        transform: translateX(-20px);
      }

      @media screen and (min-width: $screen-lg) {
        flex-grow: unset;
        transform: unset;
      }

      &--link {
        display: none;

        @media screen and (min-width: $screen-lg) {
          display: block;
        }
      }

      &--plain-text {
        display: block;

        &:hover {
          text-decoration: none;
        }

        @media screen and (min-width: $screen-lg) {
          display: none;
        }
      }
    }
    
    &__navigation {
      display: none;
    
      @media screen and (min-width: $screen-lg) {
        display: flex;
        gap: 16px;
      }

      &__link {
        align-items: center;
        color: $secondary-color;
        display: flex;
        text-decoration-color: transparent;
        text-underline-offset: 5px;
      
        &:hover {
          text-decoration-color: inherit;
        }

        &--external {
          &::after {
            content: '';
            background-image: url('/icons/external.svg');
            background-repeat: no-repeat;
            background-size: 16px 16px;
            display: block;
            height: 16px;
            margin-left: 8px;
            margin-right: 16px;
            width: 16px;
          }
        }
      }
    }
  }
}
