---
import './index.scss';
---

<header class='header bg-gray--blur'>
  <div class='header__wrapper section-content'>
    <img class='header__wrapper__hamburger' src='/icons/hamburger-menu.png' title='menu' alt='menu' />
    <p class='header__wrapper__name'>Roberto Marcos</p>
    <nav class='header__wrapper__navigation'>
      <a class='header__wrapper__navigation__link' href='#'> Profile </a>
      <a class='header__wrapper__navigation__link' href='#'> Technologies </a>
      <a class='header__wrapper__navigation__link' href='#'> Objectives </a>
      <a class='header__wrapper__navigation__link' href='https://github.com/rdmarcos49' target='_blank'> About this project </a>
    </nav>
  </div>
</header>
