---
import './index.scss';
---

<header class='header bg-gray--blur'>
  <div class='header__wrapper section-content'>
    <img class='header__wrapper__hamburger' src='/icons/hamburger-menu.png' title='menu' alt='menu' height={42} width={42} />
    <a class='header__wrapper__name header__wrapper__name--link' href="#welcome">
      Roberto Marcos
    </a>
    <span class='header__wrapper__name header__wrapper__name--plain-text'>
      Roberto Marcos
    </span>
    <nav class='header__wrapper__navigation'>
      <a class='header__wrapper__navigation__link' href='#experience'> Work experience </a>
      <a class='header__wrapper__navigation__link' href='#education'> Education </a>
      <a class='header__wrapper__navigation__link' href='#technologies'> Technologies </a>
      <a class='header__wrapper__navigation__link' href='#goals'> Goals </a>
      <a class='header__wrapper__navigation__link header__wrapper__navigation__link--external' href='https://github.com/rdmarcos49/portfolio' target='_blank'> About this project </a>
    </nav>
  </div>
</header>

<script>
  const modalDialog = document.querySelector('.myself-wrapper');
  const sidebarDialog = document.querySelector('.sidebar-wrapper');

  const myselfButton = document.querySelector('.welcome__button-myself');
  const hamburgerIcon = document.querySelector('.header__wrapper__hamburger');

  myselfButton?.addEventListener('click', () => modalDialog?.show())
  hamburgerIcon?.addEventListener('click', () => sidebarDialog?.show())
</script>
