---
import './index.scss';
---

<header class='header bg-gray--blur'>
  <div class='header__wrapper section-content'>
    <img class='header__wrapper__hamburger' src='/icons/hamburger-menu.png' title='menu' alt='menu' />
    <a class='header__wrapper__name' href="#welcome">
      Roberto Marcos
    </a>
    <nav class='header__wrapper__navigation'>
      <a class='header__wrapper__navigation__link' href='#experience'> Experience </a>
      <a class='header__wrapper__navigation__link' href='#education'> Education </a>
      <a class='header__wrapper__navigation__link' href='#technologies'> Technologies </a>
      <a class='header__wrapper__navigation__link' href='#objectives'> Objectives </a>
      <a class='header__wrapper__navigation__link' href='https://github.com/rdmarcos49/portfolio' target='_blank'> About this project </a>
    </nav>
  </div>
</header>

<script>
  const dialog = document.querySelector('.sidebar-wrapper');
  const hamburgerIcon = document.querySelector('.header__wrapper__hamburger');

  hamburgerIcon?.addEventListener('click', () => dialog?.show())
</script>
