---
const { title, date, items } = Astro.props;
import type { Description } from "../utils/formations";
---

<article class='accordion' aria-expanded='false' tabindex='0'>
  <div class='text-wrapper'>
    <p class='text-wrapper__title'> {title} </p>
    <p class='text-wrapper__date'> {date} </p>
  </div>
  <img src='/icons/chevron.png' alt='toggle-control' aria-expanded='false'/>
  <div class='accordion__items-wrapper'>
    {items.map((item: Description) => (
      <div class='accordion__items-wrapper__item'>
        {item.date && <p class='accordion__items-wrapper__item__date'>{item.date}</p>}
        <p class='accordion__items-wrapper__item__description'>{item.description}</p>
      </div>
    ))}
  </div>
</article>

<style lang='scss'>
  .accordion {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    transition: 0.25s;

    &__items-wrapper {
      display: none;
      padding-top: 16px;
      text-align: left;
      width: 100%;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(221, 221, 221, 0.7);
          padding-bottom: 16px;
        }

        &__date {
          font-style: italic;
          font-size: 13px;
          font-weight: 300;
        }

        &__description {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    &[aria-expanded='true'] &__items-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .text-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__title {
      font-size: 16px;
      font-weight: 600;
    }

    &__date {
      font-weight: 300;
    }
  }

  img {
    transition: 0.25s ease-in-out;
    transform: scaleY(1);
    width: 36px;

    &[aria-expanded='false'] {
      transform: scaleY(-1);
    }
  }
</style>
