<article>
  <img src='/icons/location.png' alt='Current location' height='30' width='30'/>
  <h3> Buenos Aires, Argentina </h3>
</article>

<style lang='scss'>
  article {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
  }

  img {
    width: 30px;
  }
</style>