<article>
  <h3>
    <img src='/icons/location.png' alt='Current location' height='30' width='30'/>
    Buenos Aires, Argentina
  </h3>
</article>

<style lang='scss'>
  article {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    position: relative;

    img {
      left: 0;
      position: absolute;
      top: 47%;
      transform: translate(-120%, -50%);
      width: 30px;
    }
  }
</style>