<article>
  <img src='/icons/location.png' alt='Current location'/>
  <p> Buenos Aires, Argentina </p>
</article>

<style lang='scss'>
  article {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  p {
    font-size: 18px;
  }

  img {
    width: 36px;
  }
</style>