---
import SocialMediaIcon from "./SocialMediaIcon.astro";
---

<nav>
  <SocialMediaIcon src='/icons/gmail.png' title='Gmail' alt='Gmail icon' link='mailto:roberdm49@gmail.com' />
  <SocialMediaIcon src='/icons/linkedin.png' title='Linkedin' alt='Linkedin icon' link='https://www.linkedin.com/in/roberto-david-marcos/' target='_blank'/>
  <SocialMediaIcon src='/icons/github.png' title='Github' alt='Github icon' link='https://github.com/rdmarcos49' target='_blank'/>
</nav>

<style lang='scss'>
  nav {
    display: grid;
    gap: 8px 32px;
    grid-template-columns: repeat(auto-fit, 60px);
    justify-content: center;
    width: 100%;
  }
</style>
