---
import './index.scss';
---

<dialog class='sidebar-wrapper'>
  <nav class='sidebar'>
    <a class='sidebar__option' href='#welcome' tabindex='-1'>Welcome</a>
    <a class='sidebar__option' href='#experience' tabindex='-1'>Work experience</a>
    <a class='sidebar__option' href='#education' tabindex='-1'>Education</a>
    <a class='sidebar__option' href='#technologies' tabindex='-1'>Technologies</a>
    <a class='sidebar__option' href='#goals' tabindex='-1'>Goals</a>
    <a class='sidebar__option sidebar__option--external' href='https://github.com/rdmarcos49/portfolio' target='_blank' tabindex='-1'>About this project</a>
  </nav>
</dialog>

<script>
  const dialog = document.querySelector('.sidebar-wrapper');
  const DIALOG_NODENAME = 'DIALOG'
  dialog?.addEventListener('click', (event) => {
    if (event?.target?.nodeName === DIALOG_NODENAME) {
      dialog.close()
    }
  })
</script>
