---
import './index.scss';
---

<div class='sidebar-wrapper'>
  <nav class='sidebar'>
    <a class='sidebar__option' href='#welcome'>Roberto Marcos</a>
    <a class='sidebar__option' href='#experience'>Experience</a>
    <a class='sidebar__option' href='#education'>Education</a>
    <a class='sidebar__option' href='#technologies'>Technologies</a>
    <a class='sidebar__option' href='#objectives'>Objectives</a>
    <a class='sidebar__option sidebar__option--external' href='https://github.com/rdmarcos49/portfolio' target='_blank'>This project</a>
  </nav>
</div>
