---
import './index.scss';
---

<dialog class='sidebar-wrapper'>
  <nav class='sidebar'>
    <a class='sidebar__option' href='#welcome'>Roberto Marcos</a>
    <a class='sidebar__option' href='#experience'>Experience</a>
    <a class='sidebar__option' href='#education'>Education</a>
    <a class='sidebar__option' href='#technologies'>Technologies</a>
    <a class='sidebar__option' href='#objectives'>Objectives</a>
    <a class='sidebar__option sidebar__option--external' href='https://github.com/rdmarcos49/portfolio' target='_blank'>This project</a>
  </nav>
</dialog>

<script>
  const dialog = document.querySelector('.sidebar-wrapper');
  const DIALOG_NODENAME = 'DIALOG'
  dialog?.addEventListener('click', (event) => {
    if (event?.target?.nodeName === DIALOG_NODENAME) {
      dialog.close()
    }
  })
</script>
