@import '../../global/constants.styles.scss';

.sidebar-wrapper {
  background-color: rgba(0, 0, 0, .2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  display: block;

}

.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100%;

  @media screen and (min-width: 300px) {
    top: 56px;
    width: 200px;
  }

  &__option {
    align-items: center;
    color: inherit;
    display: flex;
    padding: 16px;
    text-decoration: none;
    transition: all 100ms ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:visited {
      color: inherit;
    }

    &--external {
      &::after {
        content: '';
        background-image: url('icons/external.svg');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        display:block;
        height: 16px;
        margin-left: 8px;
        width: 16px;
      }
    }
  }
}