---
import './index.scss'
import { listOfObjectives } from '../../utils/objectives'
---

<section class='objectives bg-gray'>
  <h3 class='objectives__title'> Objectives </h3>
  <div class='objectives__content'>
    {listOfObjectives.map(list => (
      <div class='objectives__content__group'>
        {list.map(objective => (
          <article class='objectives__content__group__row'>
            <img class='objectives__content__group__row__thumbnail' alt='objective-icon' src={objective.thumbnail} />
            <p class='objectives__content__group__row__description'> {objective.description} </p>
          </article>
        ))}
      </div>
    ))}
  </div>
</section>

