.objectives {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;

  &__title {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    word-break: break-word;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 16px;
      padding-top: 16px;

      &:not(:first-child) {
        border-top: 1px solid #FFF;
      }

      &__row {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media screen and (min-width: 250px) {
          flex-direction: row;
          gap: 8px;
        }

        &__thumbnail {
          height: 100%;
          max-height: 38px;
          max-width: 38px;
          width: 100%;
        }

        &__description {
          padding-top: 4px;
        }
      }
    }
  }
}
