---
import './index.scss'
---

<footer class='footer bg-gray'>
  <p class='footer__text'>
    I created the pixel avatar using <a class='footer__text__anchor' href='https://www.avatarsinpixels.com/' target='_blank'>avatarsinpixels</a>
  </p>
  <p class='footer__text'>
    I getted the icons from <a class='footer__text__anchor' href='https://icons8.com' target='_blank'>icons8</a>
  </p>
</footer>