---
import './index.scss'
---

<footer class='footer bg-gray' style='padding-bottom: 16px; padding-top: 16px;'>
  <p class='footer__text'>
    I got the icons from <a class='footer__text__anchor' href='https://icons8.com' target='_blank'>icons8</a>
  </p>
</footer>