.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  &__text {
    &__anchor {
      font-weight: bold;
      word-break: break-all;

      @media screen and (min-width: 300px) {
        color: #1D1D1D;
        text-decoration: none;
        text-underline-offset: 2px;
        word-break: unset;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: #1D1D1D;
        }
      }
    }
  }
}
