@import '../../global/constants.styles.scss';

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  &__text {
    font-size: 0.875rem;

    &__anchor {
      font-weight: bold;
      word-break: break-all;

      @media screen and (min-width: $screen-xxs) {
        text-decoration: none;
        text-underline-offset: 2px;
        word-break: unset;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: inherit;
        }
      }
    }
  }
}
