---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import '../global/container.styles.scss'
import '../global/reset.styles.scss'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style lang='scss'>
	@import '../global/constants.styles.scss';

	main {
		padding-top: 56px;

		@media screen and (min-width: $screen-md) {
			padding-top: 60px;
		}

		@media screen and (min-width: $screen-lg) {
			padding-top: 52px;
		}
	}
</style>
