---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header/index.astro';
import '../global/container.styles.scss'
import '../global/reset.styles.scss'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="Portfolio - Roberto Marcos - Frontend Software Engineer" />
		<meta property="og:description" content="Here you would find information about the projects where I worked, my skills, my education and my objectives." />
		<meta property="og:url" content="https://portfolio-rdmarcos49.vercel.app/" />
		<meta property="og:image" content="/images/avatar.png" />
		<meta property="og:image:width" content="100" />
		<meta property="og:image:height" content="150" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/javascript-favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700">
	</head>
	<body>
		<Header />
		<main class='section-content__main'>
			<slot />
		</main>
	</body>
</html>
