---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header/index.astro';
import '../global/container.styles.scss'
import '../global/reset.styles.scss'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700">
	</head>
	<body>
		<Header />
		<main class='section-content__main'>
			<slot />
		</main>
	</body>
</html>

<style lang='scss'>
	@import '../global/constants.styles.scss';

	main {
		padding-top: 60px;
	}
</style>
